<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.MSBuildProjectDirectory)\CommonDefinitions.wxi?>
	<Fragment>
    <UIRef Id="TextStyleSheet"/>

    <UI Id="UISequence">
      <UIRef Id="WixUI_Common"/>
      <!-- Followings are unnecessary but good reference -->
      <!--<DialogRef Id="ErrorDlg"/>-->
      <!--<DialogRef Id="FilesInUse"/>-->
      <!--<DialogRef Id="BrowseDlg"/>-->
      <!--<DialogRef Id="DiskCostDlg" />-->
      <!--<DialogRef Id="FatalError" />-->
      <!--<DialogRef Id="MsiRMFilesInUse" />-->
      <!--<DialogRef Id="PrepareDlg" />-->
      <!--<DialogRef Id="ResumeDlg" />-->
      <!--<DialogRef Id="UserExit" />-->
    
      <Publish Dialog="StartDlg" Control="Next" Event="NewDialog" Value="BillboardProgressDlg"/>
      <Publish Dialog="StartDlg" Control="Cancel" Event="EndDialog" Value="Exit"/>

      <Publish Dialog="EndDlg" Control="Verify" Event="NewDialog" Value="VerifyDlg"/>
      <Publish Dialog="EndDlg" Control="Finish" Event="EndDialog" Value="Exit">1</Publish>

      <Publish Dialog="VerifyDlg" Control="Finish" Event="EndDialog" Value="Exit">1</Publish>
      
      <InstallUISequence>
        <Show Dialog="StartDlg" Before="ExecuteAction"/>
        <Show Dialog="EndDlg" OnExit="success"/>
      </InstallUISequence>
    </UI>
	</Fragment>
</Wix>
